Package: libgatha0
Source: libgatha
Version: 0.1.0-1
Architecture: i386
Maintainer: Alexis Lamiable <alexis@lamiable.fr>
Installed-Size: 120
Depends: libc6 (>= 2.7)
Section: libs
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: Game theory algorithms library.
 <insert long description, indented with spaces>
